{% extends 'base.html.twig' %}

{% block title %}New Clothing{% endblock %}

{% block body %}
    <h1>Create new Clothing</h1>

    {{ include('clothing/_form.html.twig') }}

    <a href="{{ path('clothing_index') }}">back to list</a>
{% endblock %}
